NET D<0> LOC = P33 ;
NET D<1> LOC = P32 ;
NET D<2> LOC = P31 ;
NET D<3> LOC = P22 ;
NET D<4> LOC = P21 ;
NET D<5> LOC = P20 ;
NET STR_ADC LOC = P19 ;
NET STRSH LOC = P18 ;

NET ADR<0> LOC = P16 ;
NET ADR<1> LOC = P14 ;
NET ADR<2> LOC = P13 ;
NET ADR<3> LOC = P12 ;
NET NWR LOC = P23 ;
NET CLK LOC = P28 ;

NET CLK_RF LOC = P39 ;
NET CLK_IF LOC = P5 ;

NET D_IN_IF LOC = P2 ; 
NET D_IN_RF LOC = P38 ;
NET LE LOC = P29 ; 
NET LE_RF LOC = P37 ; 
NET LE_IF LOC = P3 ;

NET STRTX LOC = P8 ;
NET STRRX LOC = P7 ;
NET TRG LOC = P6 ;
NET STR_INT LOC = P30 ;
NET STR_TX LOC = P36 ;
NET STR_RX LOC = P40 ;
NET STR_SH LOC = P41 ;
NET STR_PA LOC = P43 ;
NET STR_LNA LOC = P44 ;

NET TM_M5V LOC = P42 ;

NET MCO LOC = P27 ;
NET SYNC_2M LOC = P34 ;
NET F_2M LOC = P1 ;

